body {
  background:
    
    linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 450px;
  margin: 70px auto;
  padding: 30px;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.glass {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box input {
  width: 70%;
  margin-bottom: 0;
}

.search-box button {
  width: 30%;
  margin-top: 0;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #4fc3f7;
  border: none;
  border-radius: 10px;
  color: #003b59;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #81d4fa;
}

.result-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 15px;
  text-align: left;
  margin-top: 15px;
  color: white;
}

.result-card button {
  width: 100%;
  margin-top: 10px;
  background: #ffca28;
  color: #4a3500;
}

.result-card button:hover {
  background: #ffd95a;
}
